#main-container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    border: 2px solid #000;
	height: 360px;
    width: 360px;
    margin: auto;
    padding: 7px;
    background-color: teal;
}

/* TODO: Add "hidden" feature for grid */
.grid {
	border: 2px solid #000;
    width: 20%;
    height: 20%;
    margin: auto;
}

/* TODO: Add backgrounds for each class when "flipped" */
.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}

.four {
    background-color: yellow;
}

.five {
    background-color: purple;
}

.six {
    background-color: black;
}

.seven {
    background-color: white;
}

.eight {
    background-color: brown;
}